# Postgres connection configuration
# It is simply not set as a string in order to be able to 
# configure synchronous and asynchronous connections.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=auth
POSTGRES_PASSWORD=auth
POSTGRES_DB=auth
POSTGRES_ECHO=True

# Service configuration
TRUST_PROXY=False
EMAIL_TOKEN_LENGTH=64
EMAIL_TOKEN_EXPIRY_MINUTES=720
JWT_SECRET="JWT_SUPER_LONG_SUPER_SECRET"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_LENGTH=32
REFRESH_TOKEN_EXPIRY_HOURS=336
PASSWORD_RECOVER_TOKEN_LENGTH=32
PASSWORD_RECOVER_TOKEN_EXPIRY_MINUTES=15

# General settings
LOGGING_LEVEL=DEBUG